@import '../../../webpack/src/scss/variables.css';

 .quote-container {
  margin: 152px 0 205px 0;
  max-width: 602px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

 .quote-container .quote-container-inner {
  display: flex;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

 .quote-container .quote-container-inner .quote {
  width: 600px;
}

 .quote-container .quote-container-inner .quote h2 {
  font: 500 24px/36px var(--font-2);
  text-align: left;
  color: var(--font-color-two);
  margin-bottom: 0;
}

 .quote-container .quote-container-inner .quote h3 {
  font: 400 18px/22px var(--font-1);
  text-align: left;
  color: var(--font-color-two);
  margin: 8px 0 35px 0;
}

 .quote-container .quote-container-inner .quote p {
  font: italic 400 24px/29px var(--font-1);
  text-align: left;
  color: var(--font-color-two);
  margin-bottom: 0;
}

.quote-container .button-container{
  margin-top:30px;
}

 .quote-container .button-container button {
  all: unset;
  width: 35px;
  opacity: 0.7;
  cursor: pointer;
}

 .quote-container .button-container .back img {
  transform: rotate(180deg);
}

 .quote-container .button-container .forward {
  text-align: end;
}

 .quote-container .button-container .forward[disabled],
 .quote-container .button-container .back[disabled] {
  opacity: 0.5;
}

@media (max-width: 991px) {

   .quote-container {
    margin: 150px 0 190px 0;
  }

   .quote-container .button-container {
    text-align: left;
  }

   .quote-container .button-container button {
    width: 45px;
  }
}

@media (max-width: 660px) {
   .quote-container {
    margin: 116px 0 155px 0;
    max-width: 88%;
  }

   .quote-container .quote-container-inner .quote h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

   .quote-container .quote-container-inner .quote h3 {
    margin: 14px 0 25px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

   .quote-container .quote-container-inner .quote p {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
  }

   .quote-container .button-container button {
    width: 36px;
  }
}