:root {
    --font-1: Montserrat;
    --font-2: Oswald;
    --background-color-one: #2f4858;
    --background-color-two: #ffcb66;
    --background-color-three: #FFF;
    --button-color: #ffa800;
    --button-color-hover: #ffc043;
    --font-color-one: #fff;
    --font-color-two: #2f4858;
    --font-color-three: #ffa800;
    --icon-color-one: #000000;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(../../../webpack/src/fonts/Montserrat-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Oswald;
    src: url(../../../webpack/src/fonts/Oswald-VariableFont_wght.ttf);
  }
  main .dream-select-container {
    margin-top: 122px;
    width: 95%;
    max-width: 1366px;
  }
  main .dream-select-container h3 {
    font: 500 30px/45px var(--font-2);
    text-align: center;
    color: var(--font-color-two);
    margin-bottom: 60px;
  }
  main .dream-select-container .inner-container {
    display: flex;
    justify-content: space-evenly;
  }
  main .dream-select-container .inner-container .content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main .dream-select-container .inner-container .content .right {
    margin-top: 30px;
  }
  main .dream-select-container .inner-container .content p {
    font: 500 24px/30px var(--font-1);
    text-align: center;
    color: var(--font-color-two);
    max-width: 288px;
    margin-top: 30px;
  }
  @media (max-width: 991px) {
    main .dream-select-container {
      margin-top: 95px;
    }
    main .dream-select-container .inner-container .content {
      width: 310px;
    }
    main .dream-select-container .inner-container .content div {
      justify-content: flex-start;
    }
    main .dream-select-container .inner-container .content div img {
      height: 100px;
      width: auto;
    }
    main .dream-select-container .inner-container .content div p {
      font-size: 18px;
      line-height: 22px;
      max-width: 255px;
      margin-top: 25px;
    }
    main .dream-select-container .inner-container .content div .right {
      margin-top: 0;
    }
}
@media (max-width: 660px) {
    main .dream-select-container {
      margin-top: 85px;
      width: 100%;
    }
    main .dream-select-container h3 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 72px;
    }
    main .dream-select-container .inner-container {
      flex-direction: column;
      align-items: center;
    }
    main .dream-select-container .inner-container .content {
      margin-bottom: 44px;
    }
    main .dream-select-container .inner-container .content div p {
      font-size: 18px;
      line-height: 22px;
      max-width: 280px;
      margin-top: 24px;
    }
    main .dream-select-container .inner-container .content div .right {
      max-height: 80px;
      width: auto;
    }
}