@import '../../../webpack/src/scss/variables.css';

.dream-select-container {
  margin-top: 146px;
  width: 95%;
  max-width: 1366px;
}

.dream-select-container h3 {
  font: 500 30px/45px var(--font-2);
  text-align: center;
  color: var(--font-color-two);
  margin-bottom: 60px;
}

.dream-select-container .inner-container {
  display: flex;
  justify-content: space-evenly;
}

.dream-select-container .inner-container .content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dream-select-container .inner-container .content .right {
  margin-top: 30px;
}

.dream-select-container .inner-container .content p {
  font: 500 24px/30px var(--font-1);
  text-align: center;
  color: var(--font-color-two);
  max-width: 288px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .dream-select-container {
    margin-top: 117px;
  }

  .dream-select-container .inner-container .content {
    width: 310px;
  }

  .dream-select-container .inner-container .content div {
    justify-content: flex-start;
  }

  .dream-select-container .inner-container .content div img {
    height: 100px;
    width: auto;
  }

  .dream-select-container .inner-container .content p {
    font-size: 18px;
    line-height: 22px;
    max-width: 255px;
    margin-top: 25px;
  }

  .dream-select-container .inner-container .content .right {
    margin-top: 0;
  }
}

@media (max-width: 660px) {
  .dream-select-container {
    margin-top: 114px;
    width: 100%;
  }

  .dream-select-container h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 72px;
  }

  .dream-select-container .inner-container {
    flex-direction: column;
    align-items: center;
    gap:20px;
  }

  .dream-select-container .inner-container .content {
    margin-bottom: 44px;
  }

  .dream-select-container .inner-container .content  p {
    font-size: 18px;
    line-height: 22px;
    max-width: 280px;
    margin-top: 24px;
  }

  .dream-select-container .inner-container .content .right {
    max-height: 80px;
    width: auto;
  }
}