:root {
    --font-1: Montserrat;
    --font-2: Oswald;
    --background-color-one: #2f4858;
    --background-color-two: #ffcb66;
    --background-color-three: #FFF;
    --button-color: #ffa800;
    --button-color-hover: #ffc043;
    --font-color-one: #fff;
    --font-color-two: #2f4858;
    --font-color-three: #ffa800;
    --icon-color-one: #000000;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(../../../webpack/src/fonts/Montserrat-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Oswald;
    src: url(../../../webpack/src/fonts/Oswald-VariableFont_wght.ttf);
  }
  img {
    max-width: 100%;
  }
main .video-container {
    position: relative;
    text-align: center;
    max-width: 1366px;
    padding-top: 47px;
  }
  main .video-container img {
    max-width: 100%;
    height: auto;
  }
  main .video-container button {
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: var(--button-color);
    color: var(--font-color-one);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    padding: 0;
    max-width: 86px;
    max-height: 86px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  main .video-container button:hover, main .video-container button:focus {
    background-color: var(--button-color-hover);
  }
  main .video-container button i {
    padding: 0 0 0 4px;
    height: auto;
  }
  main .video-container .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  main .video-container .video-iframe {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 991px) {

    .show-on-tablet-phone {
        display: block;
      }
      .show-on-tablet {
        display: block;
      }
      main .video-container {
        padding-top: 70px;
      }
      main .video-container button {
        top: 53%;
      }
  }
  @media (max-width: 660px) {
    .show-on-phone {
      display: block;
    }
    main .video-container {
      padding-top: 49px;
    }
    main .video-container button {
      top: 55%;
    }
  }