@import '../../../webpack/src/scss/variables.css';

.title-container {
  margin-top: 172px;
}

.title-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}

@media (max-width: 991px) {
  .title-container {
    margin-top: 135px;
  }
}

@media (max-width: 660px) {
  .title-container {
    margin-top: 80px;
  }

  .title-container h1 {
    font-size: 36px;
    line-height: 54px;
  }
}