:root {
    --font-1: Montserrat;
    --font-2: Oswald;
    --background-color-one: #2f4858;
    --background-color-two: #ffcb66;
    --background-color-three: #FFF;
    --button-color: #ffa800;
    --button-color-hover: #ffc043;
    --font-color-one: #fff;
    --font-color-two: #2f4858;
    --font-color-three: #ffa800;
    --icon-color-one: #000000;
  }
  
  @font-face {
    font-family: Montserrat;
    src: url(../../../webpack/src/fonts/Montserrat-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: Oswald;
    src: url(../../../webpack/src/fonts/Oswald-VariableFont_wght.ttf);
  }
main form {
    max-width: 612px;
    margin: 140px 0 185px 0;
  }
  main form h2 {
    font: 500 30px/44px var(--font-2);
    text-align: center;
    color: var(--font-color-two);
    margin: 0 0 60px;
  }
  main form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  main form .form-container .form-row {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  main form .form-container .form-input {
    border: 0;
    width: 100%;
    height: 43px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
    text-align: left;
    margin-bottom: 15px;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
  }
  main form .form-container .form-input:focus {
    border: 2px solid var(--background-color-two);
  }
  main form .form-container .input-container {
    width: 100%;
  }
  main form .form-container .input-container textarea {
    height: 232px;
    padding: 12px 0 0 10px;
    margin-bottom: 23px;
  }
  main form .form-container .input-container label {
    font: 400 14px/17px var(--font-1);
    text-align: left;
    color: var(--font-color-two);
  }
  main form .form-container .checkbox-container {
    display: flex;
    align-items: flex-start;
    margin-top: 33px;
  }
  main form .form-container .checkbox-container input[type=checkbox] {
    margin-right: 25px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #e7e7e7;
  }
  main form .form-container .checkbox-container label {
    font: 400 14px/17px var(--font-1);
    text-align: left;
    color: var(--font-color-two);
  }
  main form .form-container button {
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: var(--button-color);
    color: var(--font-color-one);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    text-align: left;
    margin-top: 55px;
    width: 182px;
    height: 62px;
    border-radius: 31px;
    font: 500 24px/22px var(--font-1);
    text-align: center;
  }
  main form .form-container button:hover, main form .form-container button:focus {
    background-color: var(--button-color-hover);
  }
  main form .form-container input::-moz-placeholder, main form .form-container textarea::-moz-placeholder {
    font: 400 18px/22px var(--font-1);
    letter-spacing: -0.015em;
    color: var(--font-color-two);
  }
  main form .form-container input::placeholder,
  main form .form-container textarea::placeholder {
    font: 400 18px/22px var(--font-1);
    letter-spacing: -0.015em;
    color: var(--font-color-two);
  }
  
  @media (max-width: 991px) {
    main form {
      margin: 136px 0 165px 0;
    }
    main form h2 {
      margin-bottom: 92px;
    }
    main form .form-container .form-input {
      height: 40px;
    }
    main form .form-container .input-container textarea {
      height: 230px;
      margin-bottom: 12px;
    }
    main form .form-container .checkbox-container {
      margin-top: 10px;
    }
    main form .form-container .checkbox-container input[type=checkbox] {
      margin-right: 30px;
    }
  }
  @media (max-width: 660px) {
    main {
      padding: 0 20px;
    }
    main form {
      margin: 100px 0 137px 0;
    }
    main form h2 {
      font-size: 24px;
      margin-bottom: 25px;
    }
    main form .form-container {
      padding: 0px;
    }
    main form .form-container .form-row {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
    }
    main form .form-container .form-row input::-moz-placeholder {
      font-size: 14px;
    }
    main form .form-container .form-row input::placeholder {
      font-size: 14px;
    }
    main form .form-container .form-input {
      height: 35px;
      margin-bottom: 10px;
    }
    main form .form-container .form-input::-moz-placeholder {
      font-size: 14px;
    }
    main form .form-container .form-input::placeholder {
      font-size: 14px;
    }
    main form .form-container .input-container textarea {
      height: 150px;
      margin-bottom: 5px;
    }
    main form .form-container .input-container textarea::-moz-placeholder {
      font-size: 14px;
    }
    main form .form-container .input-container textarea::placeholder {
      font-size: 14px;
    }
    main form .form-container .input-container label {
      font-size: 12px;
    }
    main form .form-container .checkbox-container label {
      font-size: 12px;
      line-height: 15px;
    }
    main form .form-container .checkbox-container input[type=checkbox] {
      margin-right: 20px;
    }
    main form .form-container button {
      width: 140px;
      height: 48px;
      margin-top: 55px;
      font-size: 18px;
    }
  }