@import '../../../webpack/src/scss/variables.css';

main .search-container {
  width: 100%;
  max-width: 1033px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 75px 0 218px;
}

main .search-container .custom-select {
  position: relative;
  width: 288px;
  font-size: 16px;
}

main .search-container .custom-select label {
  font: 500 18px/-0.015em var(--font-1);
  text-align: left;
  color: var(--font-color-three);
}

main .search-container .select-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 288px;
  margin-top: 15px;
  /* Style the selected value */
}

main .search-container .select-wrapper .dropdown {
  list-style: none;
  box-sizing: border-box;
  padding: 5px 0 0 15px;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background: #e9e9e9;
  width: 100%;
  display: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
}

main .search-container .select-wrapper .dropdown li {
  font: 400 18px/22px var(--font-1);
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--font-color-two);
  margin-bottom: 10px;
}

main .search-container .select-wrapper .open {
  display: block;
}

main .search-container .select-wrapper .selected-value {
  background: #e9e9e9;
  border-radius: 6px;
  padding: 9px 15px;
  font: 400 18px/22px var(--font-1);
  letter-spacing: -0.015em;
  text-align: left;
  color: var(--font-color-two);
}

main .search-container .select-wrapper .border-line::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 17px;
  width: 219px;
  height: 1px;
  background-color: var(--background-color-one);
}

main .search-container .select-wrapper .selected {
  font-weight: 600;
}

main .search-container .select-wrapper .arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

main .search-container .select-wrapper .no-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main .company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1366;
  margin-bottom: 40px;
}

main .company-container .inner-container {
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 135px;
  display: none;
}

main .company-container .inner-container img {
  width: 120px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

main .company-container .inner-container h3 {
  font: 500 24px/29px var(--font-1);
  letter-spacing: 0em;
  text-align: left;
  color: var(--font-color-two);
  width: 250px;
  margin: 0;
}

main .company-container .inner-container p {
  font: 400px 18px/22px var(--font-1);
  letter-spacing: 0em;
  text-align: right;
  color: var(--font-color-two);
  width: 255px;
  margin: 0;
}

main .company-container .inner-container .type,
main .company-container .inner-container .city {
  display: none;
}

main .map-container {
  width: 100%;
  max-width: 1383px;
  height: 648px;
  position: relative;
}

main .map-container .map-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .map-container iframe {
  width: 100%;
  height: 100%;
}

main .map-container #zoom-in,
main .map-container #zoom-out {
  border: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 10;
  position: absolute;
  right: 3%;
  cursor: pointer;
  transition: transform 0.2s;
}

main .map-container #zoom-in img,
main .map-container #zoom-out img {
  width: 100%;
  height: 100%;
}

main .map-container #zoom-in:hover,
main .map-container #zoom-out:hover {
  transform: scale(1.1);
}

main .map-container #zoom-in {
  bottom: 20%;
}

main .map-container #zoom-out {
  bottom: 10%;
}

/* Styling for maps custom info field */
.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style .gm-style-iw {
  background: rgba(255, 168, 0, 0.5);
  border-radius: 14px;
}

.custom-info-window {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  gap: 50px;
}

.custom-info-window img {
  width: 120px;
  height: auto;
}

.custom-info-window div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.custom-info-window div h3 {
  font: 500 24px/36px var(--font-2);
  text-align: right;
  color: var(--font-color-two);
  margin: 0;
}

.custom-info-window div p {
  font: 400 18px/22px var(--font-1);
  text-align: right;
  color: var(--font-color-two);
  margin: 0;
}

@media (max-width: 991px) {
  main .search-container {
    margin-bottom: 163px;
  }

  main .company-container {
    margin-bottom: 46px;
  }

  main .company-container .inner-container {
    justify-content: flex-start;
    width: 79%;
    min-height: 120px;
  }

  main .company-container .inner-container div {
    margin-left: auto;
  }

  main .company-container .inner-container img {
    width: 98px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  main .company-container .inner-container h3 {
    margin-left: 29px;
  }

  main .company-container .inner-container p {
    width: auto;
  }

  main .company-container .map-container {
    height: 812px;
  }

  main .company-container .map-container #zoom-in,
  main .company-container .map-container #zoom-out {
    display: none;
  }
}

@media (max-width: 660px) {
  main .search-container {
    flex-wrap: wrap;
    margin-top: 68px;
    margin-bottom: 80px;
    gap: 45px;
  }

  main .search-container .custom-select label {
    font-size: 14px;
    line-height: 17px;
  }

  main .search-container .custom-select .select-wrapper {
    width: 100%;
    margin-top: 10px;
  }

  main .search-container .custom-select .select-wrapper .selected-value {
    font-size: 14px;
    line-height: 17px;
  }

  main .search-container .custom-select .select-wrapper ul li {
    font-size: 14px;
    line-height: 17px;
  }

  main .search-container .custom-select .select-wrapper .arrow {
    top: 64%;
  }

  main .company-container {
    display: none;
  }

  main .map-container {
    width: 100vw;
    height: 606px;
  }

  .custom-info-window {
    flex-direction: column;
    padding: 10px;
    gap: 20px;
  }

  .custom-info-window img {
    width: 120px;
    height: auto;
  }

  .custom-info-window div h3 {
    font-size: 18px;
    line-height: 27px;
  }

  .custom-info-window div p {
    font-size: 14px;
    line-height: 17px;
  }
}