@import '../../../webpack/src/scss/variables.css';

.text-container {
  margin-top: 172px;
}

.text-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}

.text-container p {
  font: 400 18px/22px var(--font-1);
  text-align: center;
  color: var(--font-color-two);
  max-width: 816px;
  margin-top: 65px;
}

@media (max-width: 991px) {
  .text-container {
    max-width: 80%;
    margin-top: 135px;
  }

  .text-container p {
    margin-top: 50px;
  }
}

@media (max-width: 660px) {

  .text-container {
    margin-top: 80px;
    max-width: 100%;
    padding:0 20px;
  }

  .text-container h1 {
    font-size: 36px;
    line-height: 53px;
  }

  .text-container p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 28px;
  }
}