@import '../../../webpack/src/scss/variables.css';

img {
  max-width: 100%;
}

main .text-container {
  max-width: 654px;
  margin: 145px 0 145px 5px;
}

main .text-container p {
  margin: 0;
  font: 400 18px/22px var(--font-1);
  text-align: center;
  color: var(--font-color-two);
}

@media (max-width: 991px) {
  main .text-container {
    max-width: 608px;
    margin-top: 150px;
  }
}

@media (max-width: 660px) {
  main .text-container {
    margin: 76px 0;
  }

  main .text-container p {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0;
    max-width: 280px;
  }
}