@import '../../../webpack/src/scss/variables.css';

.text-container {
  margin-top: 205px;
}

.text-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}

.text-container p {
  font: 500 24px/30px var(--font-1);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
  max-width: 816px;
  margin-top: 60px;
}

@media (max-width: 991px) {

  .text-container {
    margin-top: 168px;
    margin-bottom:115px;
  }

  .text-container p {
    max-width: 600px;
    margin-top: 50px;
  }
}

@media (max-width: 660px) {

  .text-container {
    margin-top: 104px;
  }

  .text-container h1 {
    font-size: 36px;
    line-height: 53px;
  }

  .text-container p {
    font-size: 14px;
    line-height: 17px;
    margin-top: 28px;
  }
}