@import '../../../webpack/src/scss/variables.css';

 form {
  max-width: 612px;
  margin: 175px 0 185px 0;
}

 form h2 {
  font: 500 30px/44px var(--font-2);
  text-align: center;
  color: var(--font-color-two);
  margin: 0 0 50px;
}

 form .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

 form .form-container .form-row {
  display: flex;
  width: 100%;
  gap: 20px;
}

 form .form-container .form-input {
  border: 0;
  width: 100%;
  height: 43px;
  border-radius: 6px;
  background: rgba(196, 196, 196, 0.4);
  text-align: left;
  margin-bottom: 15px;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
}

 form .form-container .form-input:focus {
  border: 2px solid var(--background-color-two);
}

 form .form-container .input-container {
  width: 100%;
}

 form .form-container .input-container textarea {
  height: 232px;
  padding: 12px 0 0 10px;
  margin-bottom: 13px;
}

 form .form-container .input-container label {
  font: 400 14px/17px var(--font-1);
  text-align: left;
  color: var(--font-color-two);
}

 form .form-container .checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-top: 33px;
}

 form .form-container .checkbox-container input[type=checkbox] {
  margin-right: 25px;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background-color: #e7e7e7;
}

 form .form-container .checkbox-container label {
  font: 400 14px/17px var(--font-1);
  text-align: left;
  color: var(--font-color-two);
}

 form .form-container button {
  transition: background-color 0.3s ease, transform 0.3s ease;
  background-color: var(--button-color);
  color: var(--font-color-one);
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  text-align: left;
  margin-top: 55px;
  width: 182px;
  height: 62px;
  border-radius: 31px;
  font: 500 24px/22px var(--font-1);
  text-align: center;
}

 form .form-container button:hover,
 form .form-container button:focus {
  background-color: var(--button-color-hover);
}

 form .form-container input::-moz-placeholder,
 form .form-container textarea::-moz-placeholder {
  font: 400 18px/22px var(--font-1);
  letter-spacing: -0.015em;
  color: var(--font-color-two);
}

 form .form-container input::placeholder,
 form .form-container textarea::placeholder {
  font: 400 18px/22px var(--font-1);
  letter-spacing: -0.015em;
  color: var(--font-color-two);
}

@media (max-width: 991px) {
   form {
    margin: 160px 0 165px 0;
  }

   form h2 {
    margin-bottom: 59px;
  }

   form .form-container .form-input {
    height: 40px;
  }

   form .form-container .input-container textarea {
    height: 230px;
    margin-bottom: 12px;
  }

   form .form-container .checkbox-container {
    margin-top: 10px;
  }

   form .form-container .checkbox-container input[type=checkbox] {
    margin-right: 30px;
  }
}

@media (max-width: 660px) {
   form {
    margin: 105px 0 137px 0;
  }

   form h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }

   form .form-container {
    padding: 0px;
  }

   form .form-container .form-row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

   form .form-container .form-row input::-moz-placeholder {
    font-size: 14px;
  }

   form .form-container .form-row input::placeholder {
    font-size: 14px;
  }

   form .form-container .form-input {
    height: 35px;
    margin-bottom: 10px;
  }

   form .form-container .form-input::-moz-placeholder {
    font-size: 14px;
  }

   form .form-container .form-input::placeholder {
    font-size: 14px;
  }

   form .form-container .input-container textarea {
    height: 150px;
    margin-bottom: 5px;
  }

   form .form-container .input-container textarea::-moz-placeholder {
    font-size: 14px;
  }

   form .form-container .input-container textarea::placeholder {
    font-size: 14px;
  }

   form .form-container .input-container label {
    font-size: 12px;
  }

   form .form-container .checkbox-container label {
    font-size: 12px;
    line-height: 15px;
  }

   form .form-container .checkbox-container input[type=checkbox] {
    margin-right: 20px;
  }

   form .form-container button {
    width: 140px;
    height: 48px;
    margin-top: 55px;
    font-size: 18px;
  }
}