@import '../../../webpack/src/scss/variables.css';

img {
  max-width: 100%;
}

 .text-container {
  margin-top: 205px;
}

 .text-container h1 {
  font: 500 48px/71px var(--font-2);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
}

 .text-container p {
  font: 400 18px/22px var(--font-1);
  text-align: center;
  letter-spacing: 0;
  color: var(--font-color-two);
  max-width: 606px;
  margin-top: 60px;
}

@media (max-width: 991px) {

   .text-container {
    margin-top: 170px;
  }

   .text-container p {
    margin-top: 50px;
  }

   .image-container p {
    width: 60%;
    bottom: 8%;
    transform: translate(-49%, 0);
  }
}

@media (max-width: 660px) {
   .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 104px;
  }

   .text-container h1 {
    font-size: 36px;
    line-height: 53px;
  }

   .text-container p {
    font-size: 12px;
    line-height: 15px;
    width: 88%;
    margin-top: 27px;
  }
}